.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  color: var(--gray);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 4px 0;
}

.input-field {
  padding: 8px;
  border: 1px solid var(--gray-light);
  border-radius: 4px;
}

.input-field:focus {
  border: none;
  outline: 1px solid var(--primary-color);
}

.input-required {
  color: var(--red);
  font-weight: 600;
  font-size: 0.9rem;
}
