.home-characters {
  display: flex;
  padding: 48px;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.home-search {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .home-characters {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
  }
}
