.search {
  width: 100%;
}

.input-search {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 24px;
  padding: 10px 16px;
  width: 100%;
}

.input-search:focus {
  outline: none;
}
