.app {
  height: 95vh;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 60px 2fr 80px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid: footer;
}
