.app {
  height: 100vh;
  padding: 0px 84px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 60px 2fr 84px;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  grid-area: main;
  background-color: var(--secondary-color);
}

footer {
  grid: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
}

p {
  font-size: 1rem;
}
