.app {
  height: 95vh;
  padding: 0px 64px;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 60px 2fr 80px;
}

header {
  grid-area: header;
  outline: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  grid-area: main;
}

footer {
  grid: footer;
}
