:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgba(5, 69, 83, 255);
  --secondary-color: rgba(241, 242, 243, 255);
}

h1 {
  color: var(--primary-color);
}
